fastapi==0.95.2  # FastAPI framework
uvicorn==0.22.0  # ASGI server for serving FastAPI applications
SQLAlchemy==2.0.19  # ORM for database interactions
cffi==1.16.0
cryptography==42.0.8
bcrypt==4.0.1  # Added for password hashing
PyJWT==2.7.0  # Updated JWT dependency
pycparser==2.22
python-jose==3.3.0  # Optional: Better JWT handling
cloudinary==1.30.0  # Added for Cloudinary file uploads
python-multipart==0.0.6  # Needed to handle file uploads
psycopg2-binary==2.9.7  # PostgreSQL adapter for Python
